.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 80%;

  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .testimonial {
      text-align: center;
      font-style: italic;
    }

    .imageGallery {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 4px;

      @media screen and (min-width: 1150px) {
        flex-direction: row;
      }
      
      li {
        margin: 5px;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s ease;
        
        &:hover {
          z-index: 10;
          transform: translateY(-5px) scale(1.05);
        }
      }
      
      li img {
        max-height: 160px;
        max-width: 160px;
        object-fit: contain;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        background-color: rgba(255, 255, 255, 0.8);
        
        @media screen and (min-width: 1150px) {
          max-height: 160px;
          max-width: 160px;
        }
        
        &:hover {
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          filter: brightness(1.05);
          cursor: pointer;
        }
      }
    }
  }

  .cardItem {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: 2;
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.5s ease;
      transform: translateX(-100%);
      pointer-events: none;
      border-radius: 8px;
    }
    
    &:hover::after {
      opacity: 1;
      transform: translateX(100%);
    }
  }

  .project ul {
    list-style: none;
    padding: 8px;
  }

  .project > li {
    flex-basis: 160px;
  }
}